accelerate
aiohttp
aiosignal
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
Babel
backcall
backoff
bcrypt
beautifulsoup4
bleach
blis
catalogue
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
cloudpathlib
cmake
coloredlogs
comm
confection
cymem
dataclasses-json
datasets
debugpy
decorator
defusedxml
dill
diskcache
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl#sha256=6215d71a3212690e9aec49408a27e3fe6ad7cd6c715476e93d70dc784041e93e
exceptiongroup
executing
fastapi
fastjsonschema
filelock
flatbuffers
fqdn
frozenlist
fsspec
greenlet
h11
httptools
huggingface-hub
humanfriendly
idna
importlib-resources
ipykernel
ipython
isoduration
jedi
Jinja2
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
langchain
langcodes
langsmith
lit
llama_cpp_python
MarkupSafe
marshmallow
matplotlib-inline
mistune
monotonic
mpmath
multidict
multiprocess
murmurhash
mypy-extensions
nbclient
nbconvert
nbformat
neo4j
nest-asyncio
networkx
nltk
notebook
notebook_shim
numexpr
numpy
onnxruntime
openai
overrides
packaging
pandas
pandocfilters
parso
peft
pexpect
pickleshare
Pillow
platformdirs
posthog
preshed
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pulsar-client
pure-eval
pyarrow
pycparser
pydantic
pydantic_core
Pygments
PyPika
python-dateutil
python-dotenv
python-json-logger
pytz
PyYAML
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rouge
rpds-py
sacremoses
safetensors
scikit-learn
scipy
Send2Trash
sentence-transformers
sentencepiece
six
smart-open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
starlette
sympy
tenacity
terminado
thinc
threadpoolctl
tinycss2
tokenizers
tomli
torch
torchvision
tornado
tqdm
traitlets
transformers
typer
typing-inspect
typing_extensions
tzdata
uri-template
urllib3
uvicorn
uvloop
wasabi
watchfiles
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
xxhash
yarl
google-generativeai
